
/* Global styles */
body {
  background-color: #dadada; 
  background-repeat: no-repeat;
  color: #050315; 
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Universal Selector */
* {
  box-sizing: border-box;
}

/* Wrapper */
#wrapper {
  background-color: #7e0101; 
  background-image: linear-gradient(#ffbe56, white); 
}

/* Header element */
header {
  background-color: #7e0101; 
  color: #FFFFFF;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* H1 element */
h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 0.2em;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
}

/* Nav element */
nav {
  padding: 0;
  text-align: center;
  background-color: #bdbdbd; 
}

/* Navigation Area */
nav ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  font-size: 1.1em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* Navigation li */
nav li {
  border-bottom: 1px solid #050315;
}

/* Navigation links */
nav a:link,
nav a:visited {
  color: #7e0101; 
  text-decoration: none;
  font-weight: 600;
}
nav a:hover {
  color: #ffbe56; 
}

/* Header hyperlinks */
header a:link,
header a:visited {
  color: #FFFFFF;
  text-decoration: none;
}
header a:hover {
  color: #ffbe56;
}

/* Main Element */
main {
  background-color: #FFFFFF;
  max-width: 1000px; margin: auto;
}

/* Section element */
section {
  padding-left: 2em;
  padding-right: 2em;
}

/* h1, h2, h3 styles */
h1, h2, h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: normal;
  color: #050315;
}

/* h2 styles */
h2 {
  color: #7e0101; /* primary */
  text-shadow: 1px 1px 1px #bdbdbd;
}

/* h3 styles */
h3 {
  color: #ffbe56; /* accent */
}

/* dt element styles */
dt {
  color: #7e0101;
  font-weight: 600;
}

/* Class .resort styles */
.concrete {
  color: #7e0101; 
  font-weight: bold;
}

/* Footer styles */
footer {
  clear: both;
  background-color: #FFFFFF;
  font-size: 75%;
  font-style: italic;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 2em;
  color: #050315;
}

/* Contact ID */
#contactid {
  font-size: 90%;
}

/* Hero images */
#homehero, #abouthero, #structuralhero, #decorativehero, #concernshero {
  height: 300px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#homehero {
  background-image: url("homepage.jpg");
  margin-bottom: 20px;
}
#abouthero {
  background-image: url("about.jpg");
  margin-bottom: 20px;
}
#structuralhero {
  background-image: url("structural.jpg");
  margin-bottom: 20px;
}
#decorativehero {
  background-image: url("decorative.jpg");
  margin-bottom: 20px;
}
#concernshero {
  background-image: url("concerns.jpg");
  margin-bottom: 20px;
}

/* TABLE */
/* Table styles */
table {
  border: 2px solid #7e0101; 
  border-collapse: collapse;
}

/* Table cell styles */
td, th {
  border: 2px solid #7e0101; 
  padding: 0.5em;
}

/* Center table */
td {
  text-align: center;
}

/* Text class to left-align */
.text {
  text-align: left;
}



/* Form Layout */

/* Single-column */
form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* Add space */
input, textarea {
  margin-bottom: 0.5em;
}

/* Two column */
@media (min-width: 600px) {
  form {
    width: 60%;
    max-width: 30em;
    display: grid;
    grid-template-columns: 6em 1fr;
    grid-gap: 1em;
  }

  /* submit button */
  input[type="submit"] {
    grid-column: 2;
    width: 9em;
    background-color: #7e0101;
    color: white;
    border: none;
    padding: 0.5em;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #ffbe56;
    color: #050315;
  }
}

/* Media Query for width 600px */
@media (min-width: 600px) {
  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  nav li {
    border-bottom: none;
  }
  section {
    margin-left: 2em;
    margin-right: 2em;
  }
  
  /* flow class for 3-column layout */
  .flow {
    display: flex;
    flex-direction: row;
  }
  .flow section {
    flex: 1;
  }
}

/* Media Query for width 1024px */
@media (min-width: 1024px) {
  #wrapper {
    margin: auto;
    width: 80%;
    border: 1px solid #050315;
    box-shadow: 3px 3px 3px #050315;
  }
  
  nav {
    text-align: left;
    padding-left: 1em;
  }
  
  @supports (display: grid) {
    nav ul {
      flex-direction: column;
      padding-top: 1em;
    }
    
    header {
      grid-area: header;
    }
    nav {
      grid-area: nav;
    }
    main {
      grid-area: main;
    }
    footer {
      grid-area: footer;
    }
    .hero {
      grid-area: hero;
    }
    
    #wrapper {
      display: grid;
      grid-template-areas:
        "header header"
        "nav hero"
        "nav main"
        "nav footer";
    }
  }
}
